.inpBg{
  background-clip: url(./asset/index.html.mp4);
  background-size: contain;
  background-repeat: repeat;
  /* background-clip: ; */
  background-color: rgba(10, 1, 1, 0.7)

  /* background-size: 70%, 50%; */
  
}
.welcom-bg{
  background-color: rgba(57, 57, 71, 00.9);
}
#video-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  /* background: linear-gradient( 40deg,);
   */
   
}